version: '3.8'

services:
  # Development service
  web-dev:
    build:
      context: .
      target: dev # Use the dev stage from the Dockerfile
    ports:
      - "3000:3000" # Map port 3000 for development
    volumes:
      - .:/app # Mount the source code for hot-reloading
    environment:
      - CHOKIDAR_USEPOLLING=true # Enable polling for file changes in dev mode

  # Production service
  web-prod:
    build:
      context: .
      target: prod # Use the prod stage from the Dockerfile
    ports:
      - "3000:3000" # Map port 3000 for production